@model List<Student>
@{
    ViewData["Title"] = "About";
}

<h1>About Us Page</h1>
<h1>This is About Page</h1>

@{
    foreach (var mod in Model)
    {
        <h1>@mod.studentId</h1>
        <h1>@mod.name</h1>
        <h1>@mod.description</h1>
        <h1>@mod.age</h1>
    }
}

@* @ViewData["Data1"]
<br />
@ViewBag.data2
<br />
@TempData["Data2"]
<br /> *@
