
@{
    ViewData["Title"] = "Index";
    // Layout = @"/Views/Shared/_Layout.cshtml";
    // Layout = @"/Views/Shared/_Layout2.cshtml";
    Layout = null;
}

<h1>Index Page</h1>
<h1>This is Home Page</h1>

@ViewData["Name"]
@ViewData["Age"] 
@ViewData["DateTime"]

@{
    foreach (var name in (string[])ViewData["array"])
    {
        <h1>@name</h1>
    }

}
    
@{
        foreach (var name in (List<String>)ViewData["ListNames"])
    {
        <h1>@name</h1>
    }
}



@* @{
    var name = "Prerak";
    var age = 22;
}

<h1>Name = @name</h1>
<h1>Age = @age</h1>


We can use variables, loops, Conditional statements, etc in this file.........  *@